
.ml-auto{
    margin-left: auto;
}

h1{
    /* font-size: 2.25rem; */
    font-family: Rubik,sans-serif;
}
.text-decoration-none{
    color: rgb(165, 162, 159);
    }

.text-decoration-none p{
color: rgb(165, 162, 159);
}
.p-3,.p-1,li,.li,.li1{
      color: rgb(134, 126, 122); 
    
}
.card{
    /* border-radius: 35px; */
    border-color: black;
    border-width: 2px;
    /* width: 90%; */
    align-items: center;
}


h2{
  font-size: 3.25rem;
  font-family: Rubik,sans-serif;  
}


p{
    /* font-size: 1.25rem;  */
    font-family: Rubik,sans-serif;  
  }

.li1{
    margin-left: 20px;
}

